<launch>

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- GDB Debug Option -->
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix"
     value="gdb -x $(find ur3_moveit_config)/launch/gdb_settings.gdb --ex run --args" />

  <node name="hri_static_demo" pkg="robot_control" type="hri_static_demo" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
  </node>

  <node name="gripper_control" pkg="robot_control" type="gripper_control" respawn="false" launch-prefix="$(arg launch_prefix)" output="screen">
  </node>

  <include file="$(find ur3_moveit_config)/launch/ur3_moveit_planning_execution.launch">
    <arg name="sim" value="true" />
  </include>

  <include file="$(find ur3_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
  </include>

  <node pkg="tf" type="static_transform_publisher" name="camera_frame_broadcaster" args="0.065 0.037 0.082 0 0 0 1 ee_link camera_frame 100" />

</launch>
